section.info-2 {
    margin-top: 5%;
}

section.info-2 .text-header h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: var(--main-font);
    font-weight: 500;
    color: var(--text-color);
    font-family: 50px;
    margin-bottom: 5%;
}

section.info-2 .cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

section.info-2 .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    flex: 1 1 350px;
}

section.info-2 .cards .card-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

section.info-2 .cards .card-item i {
    color: var(--i-color);
    font-weight: 300;
    font-size: 62px;
    padding: 10px;
    margin: 0;
    border-radius: 50%;
}

section.info-2 .cards .card-item h1 {
    font-family: var(--main-font);
    color: var(--text-color);
    font-size: 24px;
    font-weight: 400;
}

section.info-2 .cards .card-item p {
    font-family: var(--main-font);
    color: var(--text-color);
    font-size: 18px;
    font-weight: 400;
}